.TVLPointDialog
  width: 580px
  padding: 60px 0
  :global(>.pixel_flat_inner)
    flex-direction: column
    text-align: center
  h3
    font-size: 18px
    line-height: 22px
    font-weight: 600
  .card
    width: 400px
    margin: 40px 0 34px
  .btn
    display: flex
    justify-content: space-between
    align-items: center
    gap: 24px
  .yellow
    color: #934417