.verification_code_container
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
.single_char_input_border
  padding: 0
  height: 62px
  :global(.pixel_flat_btn_bg)
    > div
      background-color: #1D263B
  @media screen and (max-width: 768px) 
    height: 58px
.single_char_input
  width: 48px;
  text-align: center;
  font-size: 26px
  font-weight: 600
  @media screen and (max-width: 768px) 
    width 45px
 
.line
  width 15px
  height: 6px
  background-color: #fff
  opacity 0.8