.invitationCode
  p, h5
    font-size: 16px
    line-height: 20px
  h5
    margin-bottom: 15px
  .join

    margin-top: 40px
  .or
    width: 216px
    text-align: center
    margin: 20px 0
    color: #959BA8
  .continue
    width: 260px
    height: 36px
    margin-top: 24px
      