.mt30
  margin-top: 30px
.mt20
  margin-top: 20px
.mb10
  margin-bottom: 10px
.mb20
  margin-bottom: 20px

.fl 
  width 675px
  max-width 675px
.title
  font-size: 24px
  font-weight: 600
.title_tooltip
  display: flex
  gap: 10px
  justify-content: flex-start
  align-items: center
.team_goal_text
  display: flex
  justify-content: space-between
  align-items: center
.team_goal_line
  background-color: #1D263B
  height: 6px
  width: 100%
  .team_goal_line_process
    background-color: #1649FF
    height: 6px
.show_team
  position: relative
  overflow: hidden
.title_div
  display: flex
  justify-content: flex-start
  align-items: center
  gap 6px
  svg
    cursor pointer
.team
  display: flex
  flex-direction: column
  gap: 10px
.team_li
  :global(>.pixel_flat_inner)
    justify-content: space-between;
    padding: 10px 20px
.team_item_fl,
.team_item_fr
  display: flex
  align-items: center
  gap: 10px
.team_item_fl
  justify-content: flex-start
  p
    font-weight: 600
.team_item_fr
  justify-content: flex-end
.fr_grey
  color: #959BA8
  font-size: 12px
  min-height: 54px
.number
  display: flex
  gap: 10px
  justify-content: flex-start
  p
    font-size: 20px
    font-weight: 600
.fr_btn
  position absolute
  bottom: 25px
  right: 24px
.tvl_fr_title
  display: flex
  gap: 10px
  justify-content: flex-start
  h2
    font-weight: 600
.tvl_fr_table_ul
  width 100%
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px
  li
    display: flex
    justify-content: space-between;
    align-items: center
.fr_number
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 6px
  p
    font-size: 20px
    font-weight: 600
    