// zace
.gameItemComp6
  top: 10%
  left: 3%
// cr
.gameItemComp12
  top: 3%
  right: 10%
// 2048
.gameItemComp12
  top: 3%
  left: 15%
// zBingo
.gameItemComp2
  top: 13%
  right: 5%

// points
.gameItemComp2
  bottom: 13%
  right: 5%
.gameItemCompComing
  bottom: 0%
  left: 5%



.pixel_cloud1,
.pixel_cloud2,
.pixel_cloud3,
.pixel_cloud4,
.pixel_cloud5,
.pixel_cloud6,
.pixel_cloud7,
.pixel_cloud8,
.pixel_cloud9,
.pixel_cloud10,
.pixel_island1,
.pixel_island2,
.pixel_island3,
.pixel_island4,
.pixel_island5,
.pixel_litter_island1,
.pixel_litter_island2,
.pixel_litter_island3,
.pixel_litter_island5,
.pixel_litter_island6
  position absolute

.gameItem_bg
  position: absolute
  width: 1600px
  left: 50%
  transform: translateX(-50%)

.pixel_island1_div
  width 632px
  height 300px
  position absolute
  .pixel_island1
    width: 48%
    right: 0
  .pixel_litter_island1
    width: 15%;
    left: 10%;
    top: 14%;
  .pixel_litter_island2
    width: 16%;
    left: 34%;
    bottom: -3%
  .pixel_cloud1
    width: 19%;
    top: 10%;
    left: 29%;
  .pixel_cloud2
    width: 17%;
    left: 0;
    bottom: 38%;
  .pixel_cloud5
    width: 11%;
    right: 2%;
    top: 24%;
  .pixel_cloud8
    width: 6%;
    bottom: 26%;
    left: 22%;
.pixel_island2_div
  position absolute
  top: 0
  right: 0
  width: 964px
  height: 344px
  .pixel_island2
    position: absolute;
    width: 58%
    top: 15%;
    right: 40%;
  .pixel_litter_island5 
    position: absolute;
    top: 0;
    right: 5%;
    width: 13%;
  .pixel_litter_island4 
    position: absolute;
    width: 13%;
    top: 18%;
    right: 27%;
  img.pixel_cloud13 
    position: absolute;
    width: 14%;
    left: 28%;
    top: 5%;
  img.pixel_cloud6 
    width: 10%;
    position: absolute;
    right: -12%;
    top: 2%;
.pixel_island3_div
  position absolute
  top: 185px
  right: 420px
  width: 964px
  height: 344px
.pixel_island3
  display: none
  width: 10vw
.pixel_island4
  display: none
  width: 10vw
.pixel_island5
  display: none
  width: 10vw
