$PcDheight = 10px
$dheight = 37px
$pcBorderSize = 3px
$mBorderSize = 2px
$pcBorderH = 77px
$mBorderH = 56px
.gameItem
  margin-top: 1vh
  position: relative
  height: 83vh
  min-height: 83vh
  @media screen and (max-width: 830px)
    height: 820px
    min-height: 820px
    margin-top: -13%

.fr
  display flex
  // justify-content: flex-start
  // flex-wrap: wrap;
  flex-direction: column
  align-items: flex-start;
.icon
  width 44px
  // border-radius: 9px
  @media screen and (max-width: 830px)
    width 32px
    // border-radius: 4px
.gameItemCompComingImg
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  gap 10px
  cursor auto
  @media screen and (max-width: 830px)
    gap 5px
.gamComing
  position relative
  z-index: 6;
.game
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 9px
  position relative
  z-index: 6;
  @media screen and (max-width: 830px)
    gap: 4px
  h4
    font-size: 14px
    font-weight: 600
    color: #413416
    line-height: 17px
    @media screen and (max-width: 830px)
      font-size: 12px

  .content
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 4px
    p
      font-size: 12px
      line-height: 10px
      color: #413416
    img
      width 10px
  .btn
    margin-top: 6px
    @media screen and (max-width: 830px)
      margin-top: 1px
.btn_label
  font-size: 12px
  line-height: 20px
  padding: 0 10px
  @media screen and (max-width: 830px)
    padding: 0 6px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;

.label
  font-size: 12px
  font-weight: 600
  color: #413416
  text-align: center
  @media screen and (max-width: 830px)
    font-size: 10px
// bg
.gameItemComp.gameItemCompComing
  .gameItemMiddle
      height: 60px

.gameItemComp
  display: flex
  align-items: flex-start
  position absolute
  z-index: 2
  transition: scale 0.3s ease
  cursor pointer
  &:hover
    scale: 1.03
  .gameItemMiddle
    margin-top: 10px
    height: 72px
    @media screen and (max-width: 830px)
      margin-top: 8px
      height: 52px

  .gameItemBgRight
    margin-top: 5px
    @media screen and (max-width: 830px)
      margin-top: 4px

.Bottom_tetris04
  position absolute
  height: 4px
  right: 6%
  bottom: 2px
  background-color: #D4AD6A
  width: $pcBorderSize * 2
  @media screen and (max-width: 830px)
    width: $mBorderSize * 2
  &:before,
  &:after
    content: ""
    position absolute
  &:before
    height 4px
    background-color: #D4AD6A
    right: 1px
    width: $pcBorderSize
    bottom: $pcBorderSize
    @media screen and (max-width: 830px)
      width: $mBorderSize
      bottom: $mBorderSize
  &:after
    width: $pcBorderSize
    height 2px
    background-color: #ECC88A
    right: -$pcBorderSize
    bottom: 1px
    @media screen and (max-width: 830px)
      width: $mBorderSize
      right: -$mBorderSize

.Bottom_tetris03
  position absolute
  width: $pcBorderSize * 3
  height: 4px
  right: 30%
  bottom: 2px
  background-color: #D4AD6A
  @media screen and (max-width: 830px)
    width: $mBorderSize * 3
  &:before,
  &:after
    content: ""
    position absolute
  &:before
    width: $pcBorderSize
    height 4px
    background-color: #D4AD6A
    right: $pcBorderSize
    bottom: $pcBorderSize
    @media screen and (max-width: 830px)
      width: $mBorderSize
      right: $mBorderSize
      bottom: $mBorderSize

  &:after
    width: $pcBorderSize
    height $pcBorderSize
    background-color: #ECC88A
    right: $pcBorderSize
    bottom: 1px
    @media screen and (max-width: 830px)
      width: $mBorderSize
      height $mBorderSize
      right: $mBorderSize

.Bottom_tetris02
  position absolute
  width: $pcBorderSize * 2
  height: 4px
  left: 30%
  bottom: 2px
  background-color: #D4AD6A
  @media screen and (max-width: 830px)
    width: $mBorderSize * 2
  &:before,
  &:after
    content: ""
    position absolute
  &:before
    width: $pcBorderSize
    height 4px
    background-color: #D4AD6A
    right: 0
    bottom: $pcBorderSize
    @media screen and (max-width: 830px)
      width: $mBorderSize
      bottom: $mBorderSize

  &:after
    width: $pcBorderSize
    height 2px
    background-color: #ECC88A
    right: 0
    bottom: 7px
    @media screen and (max-width: 830px)
      width: $mBorderSize


.Bottom_tetris01
  position absolute
  width: $pcBorderSize * 3
  height: 4px
  left: 3%
  bottom: 2px
  background-color: #D4AD6A
  @media screen and (max-width: 830px)
    width: $mBorderSize * 3
  &:before,
  &:after
    content: ""
    position absolute
  &:before
    width: $pcBorderSize * 2
    height 4px
    background-color: #D4AD6A
    left: $pcBorderSize
    bottom: $pcBorderSize
    @media screen and (max-width: 830px)
      width: $mBorderSize * 2
      left: $mBorderSize
      bottom: $mBorderSize

  &:after
    width: $pcBorderSize
    height $pcBorderSize
    background-color: #ECC88A
    right: 0
    bottom: 1px
    @media screen and (max-width: 830px)
      width: $mBorderSize
      height $mBorderSize

.Top_tetris01
  position absolute
  width: 14px
  height: 4px
  left: 28%
  top: 2px
  background-color: #D4AD6A
  &:before,
  &:after
    content: ""
    position absolute
    top: 2px
  &:before
    width: 8px
    height 4px
    background-color: #D4AD6A
    left: $pcBorderSize
    @media screen and (max-width: 830px)
      left: $mBorderSize
  &:after
    width: $pcBorderSize
    height 2px
    background-color: #ECC88A
    right: 0
    @media screen and (max-width: 830px)
      width: $mBorderSize

.Top_tetris02
  position absolute
  width: 7px
  height: 4px
  right: 5%
  top: 2px
  background-color: #D4AD6A
  &:before
    content: ""
    position absolute
    top: 2px
  &:before
    width: $pcBorderSize
    height 4px
    background-color: #D4AD6A
    left: $pcBorderSize
    @media screen and (max-width: 830px)
      width: $mBorderSize
      left: $mBorderSize


.gameItemMiddle
  position relative
  background-color: #F1D5A5
  padding: 13px 16px
  @media screen and (max-width: 830px)
    padding: 10px
  .bg
    position absolute
    top: 0;
    left: 0;
    width 100%
    height 100%
    display: flex;
    align-items: self-start;
  .Left
    width $pcBorderSize
    height: 100%;
    background-color: #9E8E71
    @media screen and (max-width: 830px)
      width $mBorderSize
    .Left3
      height: $pcBorderSize
      background-color: #000
      @media screen and (max-width: 830px)
        height: $mBorderSize
    .Left1
      height: calc(100% - 3px * 2)
      border-top: $pcBorderSize solid #6a5735
      border-bottom: $pcBorderSize solid #6a5735
      @media screen and (max-width: 830px)
        height: calc(100% - 2px * 2)
        border-top: $mBorderSize solid #6a5735
        border-bottom: $mBorderSize solid #6a5735
    .Left2
      height: $pcBorderSize
      background-color: #000
      @media screen and (max-width: 830px)
        height: $mBorderSize
  .Middle
    width: 100%
    height: 100%
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    position relative
    @media screen and (max-width: 830px)
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
    .Top
      position absolute
      top: 0
      left: 0
      width: 100%
      .Top01
        height: $pcBorderSize
        background-color: #D4AD6A
        @media screen and (max-width: 830px)
          height: $mBorderSize
        &:after 
          content: ""
          position absolute
          top: 1px
          right: 13%
          width 12px
          height $pcBorderSize
          background-color: #F1D5A5
          @media screen and (max-width: 830px)
            height $mBorderSize
    .Bottom
      position absolute
      bottom: 0
      left: 0
      width: 100%
      .Bottom01
        height: $pcBorderSize
        background-color: #D4AD6A
        @media screen and (max-width: 830px)
          height: $mBorderSize
        &:after 
          content: ""
          position absolute
          bottom: 2px
          right 50%
          width 15px
          height $pcBorderSize
          background-color: #F1D5A5
          @media screen and (max-width: 830px)
            height $mBorderSize
  .Right
    width 2px
    height: 100%;
    background-color: #9E8E71
    .Right3
      height: $pcBorderSize
      background-color: #000
      @media screen and (max-width: 830px)
        height: $mBorderSize
    .Right1
      height: calc(100% - 6px)
      border-top: $pcBorderSize * 2 solid #6a5735
      border-bottom: $pcBorderSize solid #6a5735
      @media screen and (max-width: 830px)
        height: calc(100% - 4px)
        border-top: $mBorderSize * 2 solid #6a5735
        border-bottom: $mBorderSize solid #6a5735

    .Right2
      height: $pcBorderSize
      background-color: #000
      @media screen and (max-width: 830px)
        height: $mBorderSize
.gameItemBgLeft,
.gameItemBgRight
  position: relative
  display: flex;
  align-items: self-start;
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7
    position: relative
  

.gameItemBgRight
  .item1
    margin-top: $pcBorderSize * 2 - 1px
    width: $pcBorderSize
    background-color: #1E4575
    height: $pcBorderH
    @media screen and (max-width: 830px)
      margin-top: 4px
      width: $mBorderSize
      height: $mBorderH

  .item2
    margin-top: 0
    width: $pcBorderSize
    height: $pcBorderH + $pcBorderSize * 3 - 1px
    background-color: #F1D5A5
    border-top: $pcBorderSize * 2 solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    @media screen and (max-width: 830px)
      width: $mBorderSize
      height: $mBorderH + $mBorderSize * 3
      border-top: $mBorderSize * 2 solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
  .item6
    margin-top: 2px
    width: $pcBorderSize
    background-color: #F1D5A5
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    height: $pcBorderH + $pcBorderSize * 2 + 1px
    @media screen and (max-width: 830px)
      margin-top: 1px
      width: $mBorderSize
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
      height: 63px

  // .item3
  //   margin-top: 2px
  //   width: 1px
  //   background-color: #F1D5A5
  //   border-top: $pcBorderSize solid #1E4575
  //   border-bottom: $pcBorderSize solid #1E4575
  //   height: 86px
  .item4
    margin-top: $pcBorderSize * 2 - 1px
    @media screen and (max-width: 830px)
      margin-top: 3px
  .item401
    width: $pcBorderSize
    background-color: #D4AD6A
    border-top: $pcBorderSize solid #1E4575
    height: 44px - $pcBorderSize 
    @media screen and (max-width: 830px)
      width: $mBorderSize
      border-top: $mBorderSize solid #1E4575
      height: 39px 

  .item402
    width: $pcBorderSize
    height: 39px
    background-color: #F1D5A5
    border-bottom: $pcBorderSize solid #1E4575
    @media screen and (max-width: 830px)
      height: 18px
      width: $mBorderSize
      border-bottom: $mBorderSize solid #1E4575

  .item5
    margin-top: 1px
    width: $pcBorderSize
    background-color: #D4AD6A
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    height: $pcBorderH + $pcBorderSize * 2 + 1px
    @media screen and (max-width: 830px)
      width: $mBorderSize
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
      height: $mBorderH + $mBorderSize * 2 + 1px

  .item7
    margin-top: $pcBorderSize
    width: $pcBorderSize
    background-color: #1E4575
    height: $pcBorderH  + $pcBorderSize - 1px
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize
      width: $mBorderSize
      height: $mBorderH  + $mBorderSize 

.gameItemBgLeft
  position relative
  .item1
    margin-top: $pcBorderSize * 2 - 1px
    width: $pcBorderSize
    background-color: #1E4575
    height: $pcBorderH
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize * 2
      width: $mBorderSize
      height: $mBorderH
  .item2
    margin-top: $pcBorderSize
    width: 2px
    background-color: #D4AD6A
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    height: $pcBorderH + $pcBorderSize * 2
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
      height: $mBorderH + $mBorderSize * 2

  .item3
    position absolute
    width: 2px
    background-color: #D4AD6A
    border-bottom: $pcBorderSize solid #1E4575
    height: 3px + $pcBorderSize
    bottom: $pcBorderSize
    left: $pcBorderSize + 2;
    z-index: 3;
    @media screen and (max-width: 830px)
      border-bottom: $mBorderSize solid #1E4575
      height: 3px + $mBorderSize
      bottom: 0
      left: $mBorderSize + 2;

  .item4
    margin-top: 0
  .item401
    width: $pcBorderSize
    background-color: #D4AD6A
    border-top: $pcBorderSize solid #1E4575
    height: 63px
    @media screen and (max-width: 830px)
      height: 39px
      width: $mBorderSize
      border-top: $mBorderSize solid #1E4575

  .item402
    width: $pcBorderSize
    height: 27px
    background-color: #F1D5A5
    border-bottom: $pcBorderSize solid #1E4575
    @media screen and (max-width: 830px)
      width: $mBorderSize
      border-bottom: $mBorderSize solid #1E4575

  .item5
    margin-top: $pcBorderSize
    width $pcBorderSize
    background-color: #F1D5A5
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    height: $pcBorderH + $pcBorderSize + $pcBorderSize * 2
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize
      width $mBorderSize
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
      height: $mBorderH + $mBorderSize + $mBorderSize * 2

  .item6
    margin-top: $pcBorderSize
    width $pcBorderSize
    background-color: #F1D5A5
    border-top: $pcBorderSize solid #1E4575
    border-bottom: $pcBorderSize solid #1E4575
    height: $pcBorderH  + $pcBorderSize * 2
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize
      width $mBorderSize
      border-top: $mBorderSize solid #1E4575
      border-bottom: $mBorderSize solid #1E4575
      height: $mBorderH  + $mBorderSize * 2

  .item7
    margin-top: $pcBorderSize * 2
    width $pcBorderSize
    background-color: #1E4575
    height: $pcBorderH
    @media screen and (max-width: 830px)
      margin-top: $mBorderSize * 2
      width $mBorderSize
      height: $mBorderH

