.tvl_team_bg
  position: relative
  width: 100%
.show_team_hero
  position absolute
  width: 100%
  top: 0
  left: 0
  height: 100%
  display flex
  justify-content: space-evenly
  align-items: flex-end
  z-index: 8;
  overflow: hidden;

  .hero_big
    width: 35%;
    margin-left: -23%;
    margin-right: -23%;
    // mix-blend-mode: multiply;
    transform-origin: bottom center;
    transition: scale 0.3s ease
    @media screen and (max-width: 830px)
      width: 70%;
      transition: none
      &:hover
        scale: 1
    &:hover
      scale: 1.04
    svg
      path
        fill: #000
.tvl_team_bg_01
  width 375px
  height 138px
  margin: 30px auto 40px
  @media screen and (max-width: 830px)
    width: 100%;
    height: auto
    margin: 20px auto 30px
.tvl_team_bg_02
  width 615px
  height 157px
  margin: 20px auto 30px
  @media screen and (max-width: 830px)
    width: 100%;
    height: auto
    margin: 10px auto 20px
.teamWarn_card
  :global(>.pixel_flat_inner)
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding: 20px 30px
    @media screen and (max-width: 830px)
      padding: 30px 20px
  .title
    font-weight: 600
    margin-bottom: 10px
  .grey
    font-size: 12px
    color: #959BA8
    min-height: 14px
    line-height: 14px

.btn
  margin: 0 auto 10px
  :global(>.pixel_flat_inner)
    gap: 4px
    p
      font-size: 14px
.team_hero_middle
  position: absolute;
  width:44%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%)
  z-index: 9;
  height: 44px;
  animation: spin 0.6s ease infinite;
  min-width: 310px
  @media screen and (max-width: 830px)
    height: 60px;
    width: 80%;
  .team_hero_middle_in
    width calc(100% - 8px)
    height calc(100% - 8px)
    margin: auto
  p
    color: #934417
    font-size: 14px
    text-align: center

@keyframes spin 
  0% 
    top: 20px
  50%
    top: 24px
  100% 
    top: 20px