.tvl_team_bg
  position: relative
  width: 100%
.show_team_hero
  position absolute
  width: 100%
  top: 0
  left: 0
  height: 100%
  display flex
  justify-content: space-evenly
  align-items: flex-end
  z-index: 8;

  .hero_big
    width: 35%;
    margin-left: -23%;
    margin-right: -23%;
    mix-blend-mode: multiply;
    transform-origin: bottom center;
    transition: scale 0.3s ease
    &:hover
      scale: 1.04
    svg
      path
        fill: #000
.tvl_team_bg_01
  width 375px
  height 138px
  margin: 30px auto 40px
.tvl_team_bg_02
  width 615px
  height 157px
  margin: 20px auto 30px
.teamWarn_card
  :global(>.pixel_flat_inner)
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding: 20px 30px
  .title
    font-weight: 600
    margin-bottom: 10px
  .grey
    font-size: 12px
    color: #959BA8
    min-height: 14px
    line-height: 14px

.btn
  margin: 0 auto 10px
  :global(>.pixel_flat_inner)
    gap: 4px
    p
      font-size: 14px