.fr_title
  font-weight: 600
  font-size: 16px
  @media screen and (max-width: 830px)
    font-size: 14px
:global(.RecentlyJoined_header)
  padding: 5px 20px
  @media screen and (max-width: 830px)
    display none
.border
  @media screen and (max-width: 830px)
    margin-top: 20px
.fr_ul
  width: 100%
  padding: 24px 30px
  display: flex
  flex-direction: column
  gap: 30px
  height: calc(100vh - 317px);
  overflow-y: scroll;
  @media screen and (max-width: 830px)
    padding: 20px
    gap: 15px
  li
    display: flex
    justify-content space-between
    align-items: center
    .fr_list_fl
      display: flex
      justify-content flex-start
      align-items: center
      gap: 10px
.fr_list_fl_text
  h6
    font-size: 16px
    @media screen and (max-width: 830px)
      font-size: 14px
  p
    font-size: 14px
    color: #959BA8
    @media screen and (max-width: 830px)
      font-size: 12px
.fr_list_fr_text
  font-size: 14px
  white-space: nowrap
  @media screen and (max-width: 830px)
    font-size: 12px