.tvl_fr_title
  display: flex
  gap: 8px
  justify-content: flex-start
  align-items: center
  h2
    font-weight: 600
.tvl_fr_table_ul
  width 100%
  padding: 20px
  display: flex
  flex-direction: column
  gap: 20px
  max-height: 80vh
  overflow-y: scroll
  @media screen and (max-width: 830px)
    padding: 10px

  .li
    display: flex
    justify-content: space-between;
    align-items: center
  .forever
    :global(> .pixel_flat_inner)
      justify-content: space-between
      padding: 15px
    .grey
      color: #959BA8
      font-size: 12px
      line-height: 14px
    .btn_text
      color: #934417
  .btn_text
    font-size: 14px
  .text
    line-height: 36px
    font-size: 16px
    @media screen and (max-width: 1260px)
      font-size: 13px
      line-height: 20px
    @media screen and (max-width: 830px)
      line-height: 28px
      font-size: 12px

