.gaming
  min-height: 100vh
  min-width: 100vw
  background-color: #346489
  padding-top: 70px
  margin-top: -70px
  @media screen and (max-width: 768px)
    padding-top: 44px
    margin-top: -44px
.inner 
  max-width: 1200px
  margin: 0 auto
  @media screen and (max-width: 1232px)
    padding: 0 16px 