.tab_m
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 7, 23, 0.8)
  padding: 10px 22px 14px;
  text-align: center;
  z-index: 99
  li
    width 40%
    display: flex;
    justify-content: center;
    align-items: center;
    div 
      width 100%
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0
    &:nth-child(1)
      img
        height 16px
    &:nth-child(2)
      img
        height 20px
        
    :global(.active_tvl_tab_on)
      :global(.pixel_flat_btn_bg)
        opacity: 1

    :global(.pixel_flat_btn_bg)
      opacity: 0
    :global(.pixel_flat_inner)
      width 100%
      padding: 7px 21px