.legal
  width: 100%;
  position: relative;
  height: 1080px
  padding-top: 186px
  .bg 
    position: absolute;
    width: 100%;
    height: 903px
    min-width: 1920px
    bottom: 0
    left: 50%;
    transform: translateX(-50%);
  .inner
    position relative
    z-index 2
.title
  height: 70px
  display: block
  margin: 0 auto 50px
.line1,.line2
  height: 20px
  display: block
  margin: 0 auto
.line1
  margin-bottom: 80px
.line2
  margin-top: 64px

.text
  width 1049px
  display flex
  flex-direction: column
  gap: 20px
  margin: 0 auto
  p
    font-size: 16px
    color: #fff
