.tab_col
  display: flex;
  justify-content: space-between
  align-items: center
  margin-bottom: 20px
  @media screen and (max-width: 830px)
    margin-bottom: 15px


.warn_tab_tooltip
  display: flex; 
  justify-content: flex-start
  align-items: center
  gap: 10px
  margin-bottom: 10px
  @media screen and (max-width: 830px)
    gap: 0
    align-items: flex-start
    margin-bottom: 4px
  :global(.svg_component)
    margin-left: -4px
    margin-right: 10px;
    @media screen and (max-width: 830px)
      margin-right: 7px;
      margin-left: 4px
  p
    font-size: 14px
    @media screen and (max-width: 830px)
      font-size: 12px
      &:first-child
        white-space: nowrap
