.tab_col
  display: flex;
  justify-content: space-between
  align-items: center
  margin-bottom: 20px


.staking
  :global(>.pixel_flat_inner)
    p
      font-size: 14px
      text-shadow: -1px -1px 0 #934417, 1px 0 0 #934417, 1px 0 0 #934417, 0 2px 0 #934417
.warn_tab_tooltip
  display: flex; 
  justify-content: flex-start
  align-items: center
  gap: 10px
  margin-bottom: 10px
  :global(.svg_component)
    margin-left: -4px
    width 20px
    margin-right: 10px;
  p
    font-size: 14px
