.fr_title
  display: flex
  justify-content: flex-start
  align-items: center
  font-weight: bold
  font-size: 18px
  gap: 8px
  h3
    font-weight: bold
.fr_grey
  color: #959BA8
  font-size: 12px
  min-height: 54px

.fr_number
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 6px
  :global(.LoadingButton)
    margin-left: 0
  p
    font-size: 20px
    font-weight: 600
  img
    width 32px
.fr_btn
  position absolute
  bottom: 25px
  right: 24px

