.title
  font-size: 70px
  line-height: 67px;
  text-align: center
  position relative
  position relative
  z-index 2
  .title_text
    position relative
    z-index 2
    font-family: "Pixel Game"
    text-transform: uppercase
    color: #EEEBCB

  .shadow
    position absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    font-family: "Pixel Game Extrude"
    text-transform: uppercase
    color: #000027
    text-shadow: -3px -3px 0 #EEEBCB, 3px -3px 0 #EEEBCB, -3px 3px 0 #EEEBCB, 3px 3px 0 #EEEBCB;
