.nav
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px 0
  flex-wrap: wrap
  gap: 20px
  @media screen and (max-width: 1232px)
    margin-left: 16px
    margin-right: 16px
  @media screen and (max-width: 1232px)
    padding: 15px 0 10px
  .fl
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 10px
    flex-wrap: wrap
    @media screen and (max-width: 768px)
      position fixed
      bottom: 0
      left: 0
      width 100%
      justify-content: space-between
      z-index 99
      padding:  24px 14px 34px
      background: linear-gradient(180deg, rgba(0,5,20, 0) 0%, rgba(0,5,20, 0.9) 100%)
    .navItemFl
      :global(>.pixel_flat_inner)
        padding: 0 20px
        gap: 6px
        @media screen and (max-width: 1232px)
          padding: 0 15px
        :global(.svg_component)
          svg
            width 20px
            @media screen and (max-width: 1232px)
              width 14px
  .fr
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 10px
    flex-wrap: wrap
    .fr_item
      :global(>.pixel_flat_inner)
        min-width: 88px
    .fr_item_icon
      :global(>.pixel_flat_inner)
        min-width: 36px
    .pixel_news
      width: 16px
    .pixel_point
      position absolute
      top: -2px
      right: -2px
      width: 10px
      
