.link
  display: flex
  gap: 20px
  justify-content: space-between
  @media screen and (max-width: 830px)
    width 100%
    gap: 10px
  .twitter 
    flex: 3
    @media screen and (max-width: 830px)
      flex: 4
      padding: 0 20px
      text-align: center
  .twitterIcon
    svg
      path
        fill-opacity: 1
  .verify
    flex: 2
.linkA
  display: flex
  justify-content: center
  align-items: center
  margin-top: 35px
  @media screen and (max-width: 830px)
    margin-top: 24px
  p
    color: #fff
    cursor pointer
    font-size: 16px
    @media screen and (max-width: 830px)
      font-size: 14px
    &:hover
      color: #eee
