.more
  bottom: 0
  transition: none
  background-image: url($preStaticUrl + '/img/games/games/item2.png')
  background-repeat: no-repeat
  background-size: 100% 100%;
  width 1200px
  display: block;
  max-width: 1200px
  padding: 100px 100px 120px;
  @media screen and (max-width: 1200px)
    width 98%
    left: 1%
    padding: 100px 10vw 120px;
  @media screen and (max-width: 830px)
    bottom: 110px
    background-image: url($preStaticUrl + '/img/games/games/item2_m.png')
    padding: 60px 10vw
.moreGameTitle
  color: #FF5EAA
  font-size: 18px
  font-weight: 600
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  @media screen and (max-width: 830px)
    font-size: 12px
.moreGame
  // display: flex
  // justify-content: flex-start
  // align-items: flex-start
  // gap: 10px
  // position relative
  // z-index: 6;
  // flex-wrap: wrap
  display: grid
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 110px; 
  grid-auto-columns: 90px;
  @media screen and (max-width: 900px)
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 80px; 
  @media screen and (max-width: 600px)
    grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: 440px)
    grid-template-columns: repeat(4, 1fr);
.moreGameTitle
  position relative
  z-index: 6;
  color: #FF5EAA
  font-size: 18px
  font-weight: 600
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-align: center
  margin-bottom: 30px
  @media screen and (max-width: 830px)
    margin-bottom: 20px
    font-size: 12px
.tree
  position: absolute
  top: 58%;
  right: 10%;
  width 92px
  z-index 8
  @media screen and (max-width: 900px)
    top: 69%;
    width 9%
    min-width: 44px
    max-width: 92px
  @media screen and (max-width: 600px)
    top: 68%
  @media screen and (max-width: 440px)
    top: 61%
.moreGameItem
  width: 90px
  @media screen and (max-width: 830px)
    width: 70px
  .moreGameItemImg
    margin: 0 auto
    width 64px
    height: 64px
    background-image: url($preStaticUrl + '/img/games/games/Union.png')
    background-repeat: no-repeat
    background-size: 100% 100%;
    padding: 10px
    margin-bottom: 6px
    @media screen and (max-width: 500px)
      width 48px
      height: 48px
      padding: 8px
      margin-bottom: 4px
  p
    line-height: 14px
    text-align: center
    font-size: 12px
    font-weight: 600
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
    @media screen and (max-width: 830px)
      line-height: 10px
      font-size: 10px
.game
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 9px
  position relative
  z-index: 6;
  @media screen and (max-width: 830px)
    gap: 4px
  h4
    font-size: 14px
    font-weight: 600
    color: #413416
    line-height: 17px
    white-space: nowrap
    @media screen and (max-width: 830px)
      font-size: 12px

  .content
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 4px
    p
      font-size: 12px
      line-height: 10px
      color: #413416
    img
      width 10px
  .btn
    margin-top: 6px
    @media screen and (max-width: 830px)
      margin-top: 1px
.btn_label
  font-size: 12px
  line-height: 20px
  padding: 0 10px
  @media screen and (max-width: 830px)
    padding: 0 6px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;

.label
  font-size: 12px
  font-weight: 600
  color: #413416
  text-align: center
  @media screen and (max-width: 830px)
    font-size: 10px