.bottom
  .S_staking
    @media screen and (max-width: 830px)
      padding: 36px 20px
      width: 100vw
      background-color: #1D263B
      position: relative;
.S_staking
  padding: 40px
  @media screen and (max-width: 830px)
    padding: 30px 20px
  .S_title
    font-size: 18px
    font-weight: 600
    padding-bottom: 20px
    text-align: center
    margin: 0
    @media screen and (max-width: 830px)
      font-size: 16px
.S_staking_token_detail
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  width: 100%;
  margin: 20px 0 10px
  &.S_staking_token_detail_fl
    justify-content: flex-start
    gap: 6px
  p
    font-size: 14px
    @media screen and (max-width: 830px)
      white-space: nowrap
      font-size: 12px
  .S_staking_token_detail_fr
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 8px
    .S_balance
      display: flex
    .S_staking_max
      p
        line-height: 20px
        font-size: 12px

.S_text_li
  margin: 20px 0 38px
  display: flex
  flex-direction: column
  gap: 12px
  width: 100%;
  &.S_text_li_column
    li
      align-items: flex-start
  &.S_text_li_margin20
    margin: 20px 0 10px
  li
    display: flex
    justify-content: space-between
    align-items: center

  .S_fr
    display: flex
    justify-content: flex-end
    align-items: center
  .S_fr_column
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    text-align: end;
    .S_fr_yellow
      color: #FFD02B
      width 100%
    .S_fr_grey
      opacity 0.5
.S_label
  padding-top: 20px 
  .S_sbt
    padding-bottom: 10px
.S_warn_icon
  img
    float: left
    margin-right: 11px;
    margin-top: 7px;
  p
    color: #FFD02B;

.S_arr_down 
  position: absolute;
  z-index: 4;
  top: 210px;
  left: calc(50% - 7px);
  @media screen and (max-width: 830px)
    top: 200px;
.S_select 
  width: 100%;
  font-size: 18px
  font-weight: 600
  border: none;
  border-radius: none;
  color: #fff;
  background: url('https://static.zypher.game/img/icon/pixel_arrow_down.svg') no-repeat
  background-position: 94% center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus 
    border-color: #1649FF;


  &:focus-visible 
    outline: #1649FF;

  option 
    color: #fff;
    background-color: #ddd;

.S_btn
  display: flex
  justify-content: space-between
  gap: 10px
  align-items: center
  width 100%
  margin-top: 30px
  .staking_confirm
    flex: 1
.S_staking_week
  position relative
  width 100%
  .S_week_border
    position absolute
    z-index 10
    top: 50px
    right 0
    >.pixel_flat_inner
      flex-direction: column;
      height: 240px;
      padding: 0;
      overflow-y: scroll;
      justify-content: flex-start;
      align-items: center;
      gap: 10px
      .S_weekItem
        width 100%
        cursor pointer
        &.S_on
          >.pixel_flat_btn_bg
            opacity 1
        &:hover
          >.pixel_flat_btn_bg
            opacity 1
        >.pixel_flat_inner
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px
        >.pixel_flat_btn_bg
          opacity 0
          transition: opacity 0.3s ease
          



body .W_staking_staking
  &:hover 
    > .pixel_flat_btn_bg 
      > .pixel_flat_btn_inner,
      > .pixel_flat_btn_top_1,
      > .pixel_flat_btn_top_2,
      > .pixel_flat_btn_bottom_1,
      > .pixel_flat_btn_bottom_2 
        border: 1px solid #1D263B
  &>.pixel_flat_inner
    width: 100%
    height: 100%
    flex-direction: column
    position static
.W_staking_switch
  &>.pixel_flat_inner
    gap: 10px
.W_staking_input
  padding: 0 20px
  > .pixel_flat_inner 
    justify-content: space-between
    input
      font-size: 18px
      font-weight: 600
      &:disabled
        opacity 0.5
    .W_text_week
      font-size: 18px
      font-weight: 600


.W_staking_week
  margin-top: 10px
  cursor: pointer
.W_staking_input_btn
  position: absolute;
  top: 1px;
  right: -19px;
  height: calc(100% - 2px)
  width 130px
  @media screen and (max-width: 830px)
    width 107px
  > .pixel_flat_inner 
    gap: 6px
    padding-left: 20px;
    @media screen and (max-width: 830px)
      gap: 4px
      padding-left: 18px;
  &:after
    content: "";
    width: 20px;
    height: 100%;
    border-right: 1px solid #484F60;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #343C4F;
.W_staking_confirm_top
  margin-top: 40px
  
.W_staking_confirm_yellow
  p
    color: #934417
.W_staking_confirm_pink
  p
    color: #682143
.W_staking_confirm_purple
  > .pixel_flat_inner 
    svg
      rect
        fill: #3A165A
  p
    color: #3A165A
          




.SS_tab
  width: fit-content;
  @media screen and (max-width: 830px)
    width: 100%

  &:first-child,
  &:last-child 
    .SS_tab_li
      &:after
        contain: ""
        width 4px 
        height calc(100% - 8px)
        top: 4px
        background-color: #1649FF
  .SS_tab_li
    display: flex;
    padding: 0 23px;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 110px
    position relative
    cursor pointer
    @media screen and (max-width: 830px)
      width 50%
    p
      transition: opacity  0.3s ease
      font-size: 14px
      @media screen and (max-width: 830px)
        font-size: 12px
    &:hover
      p
        opacity: 0.8
    &.on
      background-color: #1649FF
      p
        font-weight: 600
      &:hover
        p
          opacity: 1
      &:first-child,
      &:last-child 
        &:after
          content: ""
          position absolute
          width 4px 
          height calc(100% - 8px)
          top: 4px
          background-color: #1649FF
      &:first-child
        &:after
          left: -4px
      &:last-child
        &:after
          right: -4px
  >.pixel_flat_inner
    justify-content: flex-start
    padding: 0 8px
