.pixe_active_tvl_tab
  margin-top: 20px
  margin-bottom: 20px
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  gap: 10px
  .active_tvl_tab_on
    .pixel_flat_inner
      p
        color: #fff
  .active_tvl_tab
    .pixel_flat_inner
      p
        color: #D3D4D7
  .pixel_flat_inner
    p
      padding: 0 24px
