.TVLFooter
  padding: 20px 20px 10px
  position fixed
  bottom: 0
  left: 0
  display: flex
  justify-content: space-between
  align-items: center
  background: linear-gradient(180deg, rgba(19,24,40, 0) 0%, rgba(19,23,40,0.6) 100%)
  // background-color: rgba(0,5,20, 0.8)
  z-index 9
  width 100%

.text
  color: #A2ABBF
.communityLink
  display: flex
  flex-wrap: wrap;
  justify-content: flex-start
  align-items: center
  gap: 25px
  a 
    display: block
    width: 32px
    height: 32px
    :global(.community_svg)
      path
        fill: #A2ABBF;
        transition: all 0.3s ease;
        fill-opacity: 1;
    &:hover 
      :global(.community_svg)
        path 
          fill: #fff;
          fill-opacity: 1;