.fr
  :global(.pixel_active_tab)
    margin: 30px 0
    justify-content: flex-end
.pt30
  padding-top: 30px
.mb40
  margin-bottom: 40px
.fr_title
  font-weight: 600
.fl_title
  font-weight: 600
.fl_grey
  margin-top: 8px
  font-size: 14px
  color: #959BA8

.fl_list
  margin-top: 30px
  margin-bottom: 20px
  display: flex
  flex-direction: column
  gap: 20px
  max-height: calc(100vh - 423px);
  overflow-y: scroll;
  min-height: 533px
.fr_ul
  width: 100%
  padding: 24px 30px
  display: flex
  flex-direction: column
  gap: 30px
  height: calc(100vh - 317px);
  overflow-y: scroll;
  li
    display: flex
    justify-content space-between
    align-items: center
    .fr_list_fl
      display: flex
      justify-content flex-start
      align-items: center
      gap: 10px
.fr_list_fl_text
  p
    font-size: 14px
    color: #959BA8
.fr_list_fr_text
  font-size: 14px