.fr
  :global(.pixel_active_tab)
    margin: 30px 0
    justify-content: flex-end
.pt30
  padding-top: 30px
.mb20
  margin-bottom: 20px
.mb40
  margin-bottom: 40px

.fl_title
  font-weight: 600
.fl_grey
  margin-top: 8px
  font-size: 14px
  color: #959BA8

.fl_list
  margin-top: 30px
  margin-bottom: 20px
  display: flex
  flex-direction: column
  gap: 20px
  max-height: calc(100vh - 423px);
  overflow-y: scroll;
  min-height: 533px
  @media screen and (max-width: 830px)
    min-height: 20vh
    margin-top: 20px
    margin-bottom: 0
    gap: 10px
