.checking
  max-width: 560px
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  p
    font-size: 20px
    line-height: 24px
    font-weight: 600
    margin-bottom: 40px
.loading
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite

