.airdrop
  width 706px
  margin: 150px auto 0
  padding: 60px
.inner
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 52px
  .img
    width 250px;
  .fl
    width: 280px
    h3
      font-size: 24px
      font-weight: 600
      padding-bottom: 20px
      border-bottom: 2px solid #3A4357
      margin-bottom: 30px
  ul
    display: flex
    flex-direction: column
    gap: 40px
    li
      display: flex
      justify-content: space-between
      align-items: center
      p
        font-size: 16px
        line-height: 22px
      .li_fr
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 10px
        img
          width: 22px
        