.inner
  width: 800px
  display: flex
  justify-content: space-between
  align-items: flex-start
  position: relative
  margin: 15vh auto
  @media screen and (max-width: 1132px)
    margin: 100px auto
    padding: 0 16px
  .img
    width 400px;
  .fl
    flex: 1
    padding-right: 60px
    .title
      padding-bottom: 20px
      margin-bottom: 30px
      display: flex
      flex-direction: column
      gap: 10px
      border-bottom: 2px solid #3A4357
      h3
        font-size: 20px
        font-weight: 600
        line-height: 24px
        strong
          color: #1649FF
    .text
      font-size: 14px
      color: #959BA8
      line-height: 21px
      margin-bottom: 10px
    .link
      margin-top: 50px
      margin-bottom: 35px
      
    .linkA
      display: flex
      justify-content: flex-start
      margin-top: 35px
      p
        color: #fff
        cursor pointer
        &:hover
          color: #eee
