body [data-reach-dialog-overlay].bottom
  @media screen and (max-width: 830px)
    align-items: flex-end
body [data-reach-dialog-content].dataDialog
  @media screen and (max-width: 830px)
    width: 100%;
    margin: 0
    overflow-y: scroll
    background-color: #1D263B