.top
  width: 100%;
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  .top_fl
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 10px
    position relative
    z-index 2
    p
      font-size: 18px
      font-weight: 600
    .edit
      margin-left: -2px
      cursor pointer
.bottom_card_text
  font-size: 12px
  line-height: 14px
  color: #993765

.bottom_card
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 10px
  margin-bottom: 10px
  .liItem
    min-width: 160px
    .liItemFr
      h5
        font-size: 16px
        font-weight: 600
        line-height: 18px
      p
        font-size: 12px
        line-height: 14px
