.top
  width: 100%;
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  .top_fl
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 10px
    position relative
    z-index 2
    .top_fl_img
      border: 2px solid rgba(255, 255, 255, 0.5)
    p
      font-size: 18px
      font-weight: 600
    .edit
      margin-left: -2px
      cursor pointer

.bottom_card
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 10px
  margin-bottom: 10px
  @media screen and (max-width: 830px)
    flex-direction: column
  .liItem
    min-width: 160px
    @media screen and (max-width: 830px)
      width 100%
    .liItemFr
      h5
        font-size: 16px
        font-weight: 600
        line-height: 18px
      p
        font-size: 12px
        line-height: 14px
        display: flex
        gap: 4px
        justify-content: flex-start
        align-items: center
        :global(.svg_component)
          scale: 0.8
.box
  position: absolute;
  width: 33%;
  right: 2%;
  top: 37%;
  @media screen and (max-width: 830px)
    width: 41%;
    right: 2%;
    top: 3%;
.bottom_card_text
  font-size: 12px
  line-height: 14px
  color: #993765
