.active_tvl_banner
  >.pixel_flat_inner
    flex-direction: column
    padding: 20px
    align-items: flex-start;
    gap: 20px
    flex-wrap: wrap
.banner_liItem_card
  >.pixel_flat_inner
    padding: 10px 15px
    justify-content: flex-start;
    gap: 12px;
