.link
  display: flex
  gap: 20px
  justify-content: space-between
  position: absolute;
  top: 26px;
  right: 20px;
  :global(.svg_component)
    width: 26px

  @media screen and (max-width: 768px)
    top: auto
    bottom: 20px
    width calc(100% - 40px)
  p
    color: #934417
    font-size: 12px
  .twitter 
    flex: 3
    @media screen and (max-width: 768px)
      flex: 4
      padding: 0 20px
      text-align: center
  .twitterIcon
    svg
      path
        fill: #934417;
        fill-opacity: 1
  .verify
    flex: 2