.link
  display: flex
  gap: 20px
  justify-content: space-between
  height: 36px
  position: absolute;
  top: 26px;
  right: 20px;
  :global(.svg_component)
    width: 26px
  p
    color: #934417
    font-size: 12px
  .twitter 
    flex: 3
  .twitterIcon
    svg
      path
        fill: #934417;
        fill-opacity: 1
  .verify
    flex: 2