.link
  display: flex
  gap: 20px
  justify-content: space-between
  height: 52px
  .twitter 
    flex: 3
  .twitterIcon
    svg
      path
        fill-opacity: 1
  .verify
    flex: 2
.linkA
  display: flex
  justify-content: center
  align-items: center
  margin-top: 35px
  p
    color: #fff
    cursor pointer
    &:hover
      color: #eee
