.nav 
  position fixed
  z-index 10
  width: calc(100vw - 80px);
  left: 40px
  top: 100px
  min-width: 800px
  height: 114px;
  padding: 22px 18px 26px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bg 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  .fl,.fr 
    display: flex;
    align-items: center;
    position relative
    z-index: 2
  .fl 
    justify-content: flex-start;
    gap: 20px
    .avatar 
      width: 70px;
      height: 70px;
    .h2
      font-weight: bold
      font-size: 20px
      .cover
        background: linear-gradient(0, #EEEBCB 0%, #EEEBCB 39%, #fff 40%, #fff 100%);
        background-clip: text;
        color: transparent;
    .p
      font-weight: bold
      font-size: 14px
      .cover
        color: #ABAA9B

  .positive
    &:hover
      .div_shadow
        opacity 0.5
      :global(.pixel_flat_btn_bg>div)
        opacity 1
    .div_shadow
      transition: all 0.3s ease
      opacity 0
    :global(.pixel_flat_btn_bg>div)
      opacity 0
    :global(.pixel_flat_inner)
      padding: 0 30px
      height: 78px
      cursor pointer
      gap: 16px
      justify-content: flex-end;
    .p
      font-weight: bold
      font-size: 16px
      .cover
        color: #EEEBCB

.positive
  position relative
  height 82px
  .cover
    position relative
    z-index 2
  .div_shadow
    width 100%
    position absolute
    z-index: 1;
    top: 4px
    left: 0
    opacity: 0.5
