body [data-reach-dialog-overlay].bottom
  @media screen and (max-width: 830px)
    align-items: flex-end
.table_body
  @media screen and (max-width: 830px)
    background-color: #1D263B
.title
  width: 100%
  font-weight: 600
  font-size: 20px
  @media screen and (max-width: 830px)
    font-size: 16px;
    padding-top: 15px
    padding-bottom: 30px
    padding-left: 15px
    text-align: left
body [data-reach-dialog-content].dataDialog
  max-width: 764px
  max-height: 683px
  @media screen and (max-width: 830px)
    width: 100%;
    margin: 0
    overflow-y: scroll
    background-color: #1D263B