.ZypherGamesDialog
  width: 550px
  padding: 60px
  :global(>.pixel_flat_inner)
    flex-direction: column
  .card
    width 100%
  h3
    font-weight: 600
    font-size: 24px
    line-height: 30px
    padding: 20px 0