.register 
  max-width: 1100px
  margin: 10vh auto
  height: 100%;
  display: flex
  justify-content: flex-start
  align-items: center
  position: relative;
  flex-wrap: wrap;
  @media screen and (max-width: 1132px)
    padding: 0 16px
  @media screen and (max-width: 768px)
    margin: 20px auto 100px
  .textPart
    position: relative
    z-index 2
    @media screen and (max-width: 768px)
      width 100%
  .textPartInner
    @media screen and (max-width: 768px)
      text-align: center
    h2, h3
      font-weight: 600
      font-size: 32px
      line-height: 30px
      @media screen and (max-width: 768px)
        font-size: 28px
    h2
      margin-bottom: 20px
      @media screen and (max-width: 768px)
        margin-bottom: 10px
    h3
      background: linear-gradient(0, #1649FF 0%, #1649FF 19%, #4D74FF 20%, #4D74FF 39%, #809BFF 40%, #809BFF 59%, #809BFF 60%, #809BFF 79%,#B2C3FF 80%, #B2C3FF 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      margin-bottom: 30px
      display: inline-block
      @media screen and (max-width: 768px)
        margin-bottom: 15px
    p
      max-width: 515px
      font-size: 14px
      line-height: 22px
      color: #959BA8
      margin-bottom: 10px
      @media screen and (max-width: 768px)
        font-size: 12px
        max-width: 100%
  .process
    margin-top: 60px
    @media screen and (max-width: 768px)
      margin-top: 30px
