.moreActiveSuccess
  width: 580px
  :global(>.pixel_flat_inner)
    flex-direction: column
    text-align: center
  h3
    font-size: 18px
    line-height: 22px
    font-weight: 600
  .more_card
    width: 400px
    height: 235px
    margin-top: 40px
    margin-bottom: 57px
