.leader_board_row_fl_img
  width: 44px
  height 44px
  min-width: 44px
  min-height 44px
  @media screen and (max-width: 830px)
    width: 24px
    height 24px
    min-width: 24px
    min-height 24px
.leader_board_row_fr
  width 200px
  display: flex
  justify-content: flex-end
  align-items: center
  text-align: right 
  padding-right: 28px
  @media screen and (max-width: 830px)
    width 150px
    padding-right: 14px
.leader_board_row_fr
    font-size: 18px
    font-weight: 600
    @media screen and (max-width: 830px)
      font-size: 16px
.leader_board_row_text
  .leader_board_row_inner
    background-color: #FFF2DF
    border-top: 4px solid #FFFDFF
    border-bottom: 4px solid #E9C7A4
  .leader_board_row_fr
    text-shadow: -1px -1px 0 #934417, 1px 0 0 #934417, 1px 0 0 #934417, 0 2px 0 #934417
  .leader_board_row_inner_fl_avatar
    h3
      text-shadow: -1px -1px 0 #934417, 1px 0 0 #934417, 1px 0 0 #934417, 0 2px 0 #934417
  .leader_board_row_inner_fl
    p
      color: #9D8019
body .leader_board_row_my
  position: absolute;
  bottom: -76px;
  width: 675px;
  padding: 0 28px
  @media screen and (max-width: 830px)
    width: 100%;
    padding: 0 14px
  .leader_board_row_fl
    width: 36px
    @media screen and (max-width: 830px)
      width: 24px
  .leader_board_row_fl_mr
    margin-right: 28px
    @media screen and (max-width: 830px)
      margin-right: 14px
  .leader_board_row_fr
    justify-content: flex-end;
    padding-right: 0
  .leader_board_row_inner
    background-color: #1649FF
    border-top: 4px solid #1649FF
    border-bottom: 4px solid #1649FF

  .leader_board_row_inner_fl_avatar
    h3
      color: fff
  .leader_board_row_inner_fl
    p
      color: #fff
  .leader_board_row_fl_div
    p
      color: #1649FF
.leader_board_row_fl_div
  p
    font-size: 18px
    font-weight: 600
    @media screen and (max-width: 830px)
      font-size: 14px
  
.leader_board_row
  > .pixel_flat_inner
    justify-content: space-between
.leader_board_row_fl
  width: 93px
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 830px)
    width: 52px

.leader_board_row_inner
  flex: 1;
  background-color: #2A3756
  display: flex
  justify-content: flex-start
  align-items: center
  height: 100%
  padding: 0 20px
  gap: 16px
  @media screen and (max-width: 830px)
    padding: 0 10px
    gap: 8px
.leader_board_row_inner_fl_avatar
  display: flex
  justify-content: flex-start
  align-items: center
  gap: 6px
  h3
    font-size: 16px
    font-weight: 600
    @media screen and (max-width: 830px)
      font-size: 12px
.leader_board_row_inner_fl
  p
    font-size: 12px
    color: #959BA8
    @media screen and (max-width: 830px)
      font-size: 10px
  img
    width 16px

.pixel_edit
  cursor pointer