.title
  width: 100%
  font-weight: 600
  text-align: center
  font-size: 20px
  @media screen and (max-width: 768px)
    font-size: 16px;
div.dataDialog
  width: 690px
  @media screen and (max-width: 768px)
    width: auto
.content
  padding: 30px 40px 40px
  max-height: 460px
  overflow-y: scroll
  @media screen and (max-width: 768px)
    padding: 20px
  .item
    margin-bottom: 20px
    display: flex
    flex-direction: column
    gap: 10px
    @media screen and (max-width: 768px)
      gap: 6px
    h4
      font-weight: 600
      font-size: 16px
      @media screen and (max-width: 768px)
        font-size: 14px
    p
      color: #959BA8
    .grey
      font-size: 12px
    .text
      font-size: 16px
      @media screen and (max-width: 768px)
        font-size: 14px
    .link
      color: #23BDFF
      font-size: 12px
      text-decoration: underline

:global(body .dialogAnnouncementDialog)
  background: linear-gradient(180deg, rgba(29, 38, 59, 0) 0%, #1D263B 100%);
  @media screen and (max-width: 768px)
    display: block
    height: 50px;

