body [data-reach-dialog-overlay].bottom
  @media screen and (max-width: 830px)
    align-items: flex-end
.table_body
  background-color: #1D263B
.title
  width: 100%
  font-weight: 600
  text-align: center
  font-size: 20px
  @media screen and (max-width: 830px)
    font-size: 16px;
    padding-top: 15px
    padding-bottom: 30px
    padding-left: 15px
    text-align: left
body [data-reach-dialog-content].dataDialog
  width: 690px
  @media screen and (max-width: 830px)
    width: 100%;
    margin: 0
    background-color: #1D263B
    overflow-y: scroll
.content
  padding: 30px 40px 40px
  max-height: 460px
  overflow-y: scroll
  @media screen and (max-width: 830px)
    max-height: 60vh
    padding: 20px 15px
  .item
    margin-bottom: 20px
    display: flex
    flex-direction: column
    gap: 10px
    @media screen and (max-width: 830px)
      gap: 6px
    h4
      font-weight: 600
      font-size: 16px
      @media screen and (max-width: 830px)
        font-size: 14px
    p
      color: #959BA8
    .grey
      font-size: 12px
    .text
      font-size: 16px
      @media screen and (max-width: 830px)
        font-size: 14px
    .link
      color: #23BDFF
      font-size: 12px
      text-decoration: underline

