.get
  padding-top: 152px
  padding-bottom: 410px
  overflow: hidden
  position relative
.bg
  position absolute
  width: 1920px
  height: 1400px
  min-width: 1920px
  bottom: 0
  left: 50%;
  transform: translateX(-50%);
.get_inner
  position relative
  z-index 2
.title
  height 163px
  position relative
  display flex
  justify-content: center
  align-items: center
  z-index 2
  .title_label
    width 100%
  .title_bg
    position absolute
    height 100%
    width 670px
    top 0
    left: 50%
    transform: translateX(-50%)
.text
  font-size: 36px
  font-family: "Pixel Game"
  text-transform: uppercase
  color: #DADADA
  margin-top: -10px
  opacity 0.7
  text-align: center
.banner
  margin: 0 auto
  width 1360px
  height 770px
  margin-top: -90px
  position relative
  display flex
  justify-content: center
  align-items: center
  margin-bottom: 80px
  .banner_img
    display: block
    width 100%
    position absolute
    top: 0
    left: 0
  .banner_inner
    position relative
    z-index 2
    .box
      display: block
      width 413px
      height 411px
.inner
  width 1211px
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: flex-start
  height 360px
  .fl
    img
      display: block
      width 600px
  .fr
    width 540px
    p
      font-size: 16px
      color: #D2D2D2
      line-height: 20px
    .margin
      margin-bottom: 15px
    .inner_title
      font-size: 36px
      font-family: "Pixel Game"
      text-transform: uppercase
      color: #fff
    .sub_title
      height: 77px
      margin-top: -10px
    .list
      display: flex
      justify-content: flex-start
      align-items: center
      gap: 32px
      margin-top: 30px
      img
        width 220px