.rc-virtual-list
  width: 100%
.selectDropdownBox
  padding: 10px
  > .pixel_flat_inner
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
.ant-select-item
    padding: 0;
.ant-select-item-option-active:not(.ant-select-item-option-disabled)
    background-color: transparent
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
    background-color: transparent
.rc-virtual-list-holder-inner
    gap: 10px
.gameList_select_pop_item
  padding: 8px 10px;
  > .pixel_flat_inner
    justify-content: flex-start
