.mt30
  margin-top: 30px
.mt20
  margin-top: 20px
.mb10
  margin-bottom: 10px
.mb20
  margin-bottom: 20px
.fr
  display: flex
  flex-direction: column
  gap: 20px
  :global(.pixel_active_tab)
    margin: 30px 0 45px
    justify-content: flex-end
.fl 
  padding-top: 30px
  width: 100%
  max-width 100%
  @media screen and (max-width: 830px)
    display: flex
    flex-direction: column
    gap: 20px
  :global(.pixel_active_tab)
    margin-bottom: 30px
.pt100
  padding-top: 80px
.title
  font-size: 18px
  font-weight: 600
  @media screen and (max-width: 830px)
    font-size: 16px
.title_tooltip
  display: flex
  gap: 10px
  justify-content: flex-start
  align-items: center
.team_goal_text
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
  @media screen and (max-width: 830px)
    font-size: 12px
    p:last-child 
      text-align: right
.team_goal_line
  background-color: #1D263B
  height: 6px
  width: 100%
  .team_goal_line_process
    background-color: #1649FF
    height: 6px
    transition: all 0.3s ease
.show_team
  position: relative
  overflow: hidden
.title_div
  display: flex
  justify-content: flex-start
  align-items: center
  gap 6px
  svg
    cursor pointer
.team
  display: flex
  flex-direction: column
  gap: 10px
  overflow: hidden
.team_li
  :global(>.pixel_flat_inner)
    justify-content: space-between;
    padding: 10px 20px
.team_item_fl,
.team_item_fr
  display: flex
  align-items: center
  gap: 10px
.team_item_fl
  justify-content: flex-start
  p
    font-weight: 600
  :global(.svg_component)
    svg
      width: 20px;
      height: 20px;
.team_item_fr
  justify-content: flex-end
  :global(.svg_component),img
    width: 28px
    height: 28px
.number
  display: flex
  gap: 10px
  justify-content: flex-start
  p
    font-size: 20px
    font-weight: 600

.fl_text
  font-size: 14px
  line-height: 17px
  color: #959BA8
  margin-bottom: 40px
.fl_text
  font-size: 14px
  line-height: 17px
  color: #959BA8
.fl_title
  font-size: 16px
  font-weight: 600
  margin-bottom: 8px