.center
  max-width: 1200px
  @media screen and (max-width: 1232px)
    margin-left: 16px
    margin-right: 16px
.GameListDialog
  padding: 30px
  :global(>.pixel_flat_inner)
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  h3
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
:global(body .ant-select-dropdown)
  z-index: 999999999999;
