.staking
  width: 505px
  padding: 40px
  .title
    font-size: 18px
    font-weight: 600
    padding-bottom: 20px
    text-align: center
    margin: 0


.staking_token_detail
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%;
  margin: 20px 0 10px
  .staking_token_detail_fr
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 8px
    .balance
      display: flex
    .staking_max
      p
        line-height: 20px
        font-size: 12px
.text_li
  margin: 20px 0 38px
  display: flex
  flex-direction: column
  gap: 12px
  width: 100%;
  li
    display: flex
    justify-content: space-between
    align-items: center
