// div.dataDialog
//   max-width: 764px
//   max-height: 683px
.modalTitleInnerTitle
  font-size: 16px
  font-weight: 600
  @media screen and (max-width: 830px)
    line-height: 30px
.BingoDataDialog
  :global(.dialog_close)
    @media screen and (max-width: 830px)
      width 24px
      height 24px
      scale: 1
      top: 13px;

