.pixel_tooltip_text
  display: flex 
  flex-direction: column
  justify-content: flex-start
  gap: 4px
.pixel_tooltip_link
  text-decoration: underline;
.tooltip_pixel_warn
  width: 20px
  height: 20px
  @media screen and (max-width: 830px)
    width: 16px
    height: 16px