.tvlPixelTable
  >.pixel_flat_inner
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
body .tvlPixelTable_header
  width: 100%;
  >.pixel_flat_btn_bg
    >.pixel_flat_btn_bottom_2,
    >.pixel_flat_btn_bottom_1
      left: 0
      width: 100%
  >.pixel_flat_inner
    width: 100%
    justify-content: flex-start
    padding: 20px
