.banner 
  width: 100%;
  position: relative;
  height: 100vh
  min-height: 1080px 
  // min-width: 1440px
  overflow-y hidden
  .bg 
    position: absolute;
    width: 100%;
    height: 1080px
    top: 0
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  .text
    position absolute
    z-index 3
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    .anim
      animation: shake-scale 3s ease-in-out infinite
    img
      display: block
      margin: 0 auto
    .title
      height: 246px
    .sub
      height 24px
      margin-top: 20px
    .start
      height: 98px
      margin-top: 40px
      cursor: pointer
      transition: all 0.3s ease
      scale: 1
      &:hover
        opacity 0.9
        scale: 0.9
    .eth,.v,.zytron
      position absolute
      z-index 2
    .eth
      width 146px
      left: -30px;
      top: 68px;
    .v
      width 158px
      right: -104px;
      top: -22px;
    .zytron
      width 140px
      top: -80px;
      left: 44%;
@keyframes shake-scale 
  0% 
    transform: scale(1) translate3d(0, 0, 0);
  20% 
    transform: scale(1.01) translate3d(0, -5px, 0);
  50% 
    transform: scale(1.02) translate3d(0, -5px, 0);
  70% 
    transform: scale(1.01) translate3d(0, -5px, 0);
  100% 
    transform: scale(1) translate3d(0, 0, 0);
