.lrt
  height: 860px
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(0,0,0,0.2)
  .inner
    width 1200px
  .in
    padding-top: 47px
    display: flex
    justify-content: space-between
    align-items: center
.fl
  width: 628px
  .list
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    padding: 8px 0
    div 
      width 50%
      height 90px
      display: flex
      justify-content: center
      align-items: center
  .text
    font-size: 16px
    color: #D2D2D2
    line-height: 24px
  .bottom
    margin-top: 20px;
    margin-bottom: 12px;
.fr
  width: 510px

.header
  width 100%
  text-align: center
  font-size: 16px
  font-weight: bold
  color: #fff
  text-shadow: -2px -2px 0 #000F32, 2px -2px 0 #000F32, -2px 2px 0 #000F32, 2px 2px 0 #000F32;
.item
  width 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 24px 20px
  
  .fl,.fr
    display: flex
    align-items: center
  .fl
    justify-content: flex-start
    gap: 18px
  .fr
    justify-content: flex-end
    gap: 12px
    .icon
      opacity 0.5
      transition: all 0.3s ease
      &:hover
        opacity 1

.symbol
  font-weight: bold
  font-size: 16px