.mt30
  margin-top: 30px
.mt20
  margin-top: 20px
.mb10
  margin-bottom: 10px
.mb20
  margin-bottom: 20px

.warn_tab_tooltip
  display: flex; 
  justify-content: flex-start
  align-items: center
  gap: 10px
  margin-bottom: 10px
  :global(.svg_component)
    margin-left: -4px
    width 20px
    margin-right: 10px;
  p
    font-size: 14px
:global(body .tvlPixelTable_header_table)
  :global(>.pixel_flat_inner)
    padding: 0
    .row
      padding: 16px 30px 
.row
  padding: 16px 30px 20px 
  >p, >div
    display: inline-flex
    vertical-align: middle
  >p:nth-child(1),>div:nth-child(1)
    width: 150px
  >p:nth-child(2),>div:nth-child(2)
    width: 110px
  >p:nth-child(3),>div:nth-child(3)
    width: 90px
  >p:nth-child(4),>div:nth-child(4)
    width: 70px
  >p:nth-child(5),>div:nth-child(5)
    width: 80px
  
.fl_tab_header
  p
    font-size: 12px
.fl_tab_body
  p
    font-size: 14px
.fl_tab_body_col1
  display: flex
  gap: 10px
  justify-content: flex-start
