.btn
  @media screen and (max-width: 830px)
    position fixed
    z-index 99
  .stakingImg
    width 28px
  :global(>.pixel_flat_inner)
    @media screen and (max-width: 830px)
      flex-direction: column
    p
      font-size: 14px
      @media screen and (max-width: 830px)
        font-size: 11px
        text-shadow: none
.staking
  @media screen and (max-width: 830px)
    bottom: 65px
    right 12px
    p
      text-shadow: -1px -1px 0 #934417, 1px 0 0 #934417, 1px 0 0 #934417, 0 2px 0 #934417
      @media screen and (max-width: 830px)
        color: #934417
.redeposit
  @media screen and (max-width: 830px)
    bottom: 65px
    right 12px
.withdraw
  @media screen and (max-width: 830px)
    bottom: 140px
    right 12px