.airdropPointCard
  width: 400px
  height 235px
  position relative
  overflow: hidden
  margin-top: 40px
  margin-bottom: 57px
  .title,.amount
    position: relative;
    z-index: 3;
    display: inline-block;
    padding: 0 16px;
    p
      position relative
      z-index 1
      display: inline-block;
    .card
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
  .title
    padding: 0 16px;
    height: 44px;
    line-height: 44px;
    p
      font-weight: 600;
      text-shadow: -1px -1px 0 #471366, 2px 0 0 #471366, 2px 0 0 #471366, 0 2px 0 #2E0C70;

  .amount
    margin-top: 30px
    padding: 0 37px;
    height: 84px;
    line-height: 84px;
    p
      font-size: 44px
      font-weight: 600;
      text-shadow: -2px -2px 0 #934417, 3px 0 0 #934417, 3px 0 0 #934417, 0 3px 0 #7A3B00;

  .bg,.number_bg
    position absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .light
    position absolute
    z-index: 2;
    width 388px
    height 223px
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    animation: flash_light 2s linear infinite;
    // transform-origin: 250px 210px;


@keyframes flash_light {
  0% {
    opacity: 1;
  }
  32%,
  48%,
  64% {
    opacity: 1;
  }
  40%,
  56% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
