.bind
  display: flex
  flex-direction: column
  gap: 20px
.tooltip
  display: flex
  justify-content: flex-start
  gap: 10px
.label 
  display: flex
  justify-content: flex-end
  align-items: center
  gap: 10px
  svg 
    fill: #1649FF

.linkBtn
    p
      font-size: 12px
    
.liItem
  :global(.bind_liBg)
    padding: 0 20px
    width: 540px
    height: 58px
    :global(>.pixel_flat_inner)
      justify-content: space-between
      flex: 1;
      >p
        font-size: 14px
