body .ant-layout 
  height: 100vh;
  background: var(--var-card)
  z-index: 20
  .ant-layout-sider
    background: var(--var-card)
@keyframes slideInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}