.earthPart
  position: absolute
  width: 42%
  top: 70px
  right: 0
  @media screen and (max-width: 830px)
    width: 80%
    margin-left: 10%
    margin-top: 70px
    position relative
    top: 0
    transform: none

  img
    display: block
  .earth  _bg01,
  .earth_bg01,
  .earth_bg02,
  .earth_bg03,
  .earth_bg04,
  .leaderboard,
  .restaking,
  .team
    position: absolute
  .earth 
    width 95%
  .earth_bg01
    top: 9%;
    left: -4%;
    width: 15%;
    animation: cloud1-float 3s ease-in-out infinite
  .earth_bg02
    top: 6%;
    right: 0%;
    width: 13%;
  .earth_bg03
    right: 0;
    bottom: 5%;
    width: 22%;
  .earth_bg04
    right: 20%;
    top: 3%;
    width: 21%;
  .restaking
    right: 21%;
    top: 9%
    width: 32%;
    animation: tag1-float 1.2s ease-in-out infinite
  .leaderboard
    cursor: pointer
    right: 29%;
    bottom: 19%;
    width: 32%;
    border: none;
    background-color: none;
    animation: tag2-float 1.2s ease-in-out infinite
    &:hover 
      animation-play-state: paused
    img
      display block
      width 100%
  .team
    left: 11%;
    bottom: 43%;
    width: 25%;
    animation: tag3-float 1.2s ease-in-out infinite



@keyframes cloud1-float {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(-3px) translateY(-2px); }
  100% { transform: translateX(0) translateY(0); }
}


@keyframes tag1-float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

@keyframes tag2-float {
  0% { transform: translateY(0); }
  50% { transform: translateY(4px); }
  100% { transform: translateY(0); }
}

@keyframes tag3-float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0); }
}