.hero_liItem
  padding-top: 20px
  transition: all 0.3s ease
  @media screen and (max-width: 830px)
    padding-top: 10px
  .hero_liItem_avatar
    width: 88px
    @media screen and (max-width: 830px)
      width: 100%
  &.hero_liItem_on
    padding-top: 36px
    @media screen and (max-width: 830px)
      padding-top: 10px
    .hero_liItem_avatar
      width: 112px
      @media screen and (max-width: 830px)
        width: 100%
.hero_li
  cursor pointer
  >.pixel_flat_inner
    justify-content: flex-start
    gap: 20px
    .hero_text_fr
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      h3
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        border-bottom: 1px solid #3A4254;
        margin-bottom: 4px
        margin-right: 40px;
      p
        font-size: 12px;
        line-height: 14px;
        color: #959BA8
        margin-top: 2px
body .hunter_kkk_border
  margin-bottom: 30px
  @media screen and (max-width: 830px)
    margin-bottom: 20px
  >.pixel_flat_btn_bg
    >.pixel_flat_btn_inner,
    >.pixel_flat_btn_top_1,
    >.pixel_flat_btn_top_2
    >.pixel_flat_btn_bottom_2,
    >.pixel_flat_btn_bottom_1
      border-left: 4px solid #3A4254
      border-right: 4px solid #3A4254
    >.pixel_flat_btn_top_1,
    >.pixel_flat_btn_bottom_2
      &:after
        content: ""
        width: 100%
        height 4px
        position absolute
        bottom: -4px
        left: 0
        background-color: #3A4254
    >.pixel_flat_btn_top_1
      &:after
        top: -4px
    >.pixel_flat_btn_bottom_2
      &:after
        bottom: -4px
  >.pixel_flat_inner
    flex-direction: column
    p
      font-size: 14px
      line-height: 22px
      padding: 20px 30px
      min-height: 320px
      @media screen and (max-width: 830px)
        padding: 15px
        min-height: auto
        font-size: 12px
        line-height: 17px

body .hunter_kkk_title
  >.pixel_flat_btn_bg
    >.pixel_flat_btn_bottom_2,
    >.pixel_flat_btn_bottom_1
      width: 100%
      left: 0
    >.pixel_flat_btn_top_1
      background-color: #9c3666
    >.pixel_flat_btn_top_2
      border-left: 4px solid #9c3666
      border-right: 4px solid #9c3666
    >.pixel_flat_btn_inner
      position relative
      &:before,
      &:after
        content: ""
        position: absolute;
        width: 4px
        height: 4px
        background-color: #9c3666
      &:before
        top: 0
        left: 0
      &:after
        top: 0
        right 0
  >.pixel_flat_inner
    h3
      font-size: 16px
      font-weight: 600
      text-shadow: -1px -1px 0 #68233e, 1px 0 0 #68233e, 1px 0 0 #68233e, 0 1px 0 #68233e
      @media screen and (max-width: 830px)
        font-size: 14px

body .hero_li_avatar
  >.pixel_flat_btn_bg
    >.pixel_flat_btn_top_1,.pixel_flat_btn_bottom_2
      width: calc(100% - 4px* 2);
    >.pixel_flat_btn_top_2,.pixel_flat_btn_bottom_1
      width: calc(100% - 4px* 1);
body .hero_liItem_on
  .hero_li
    >.pixel_flat_btn_bg
      >.pixel_flat_btn_top_1
        background-color: #ffe99a
      >.pixel_flat_btn_bottom_1
        border-right: 4px solid #d99716
      >.pixel_flat_btn_bottom_2
        background-color: #d99716
      >.pixel_flat_btn_inner
        position relative
        &:after
          content: ""
          position: absolute;
          width: 4px
          height: 4px
          background-color: #d99716
          bottom: 0
          right 0
    >.pixel_flat_inner
      align-items: flex-end
      .hero_text_fr
        h3
          text-shadow: -1px -1px 0 #934417, 1px 0 0 #934417, 1px 0 0 #934417, 0 2px 0 #934417
          border-bottom: 1px solid #c49b0b;
        p
          color: #9D8019;
          
  .hero_li_avatar
    >.pixel_flat_btn_bg
      >.pixel_flat_btn_top_1
        width: calc(100% - 4px* 4);
      >.pixel_flat_btn_top_2
        width: calc(100% - 4px* 2);
      >.pixel_flat_btn_top_1,
      >.pixel_flat_btn_top_2,
      >.pixel_flat_btn_bottom_2,
      >.pixel_flat_btn_bottom_1,
      >.pixel_flat_btn_inner
        border-left: 4px solid #d99716
