body .lt-layout
  background: #2a6595 url($preStaticUrl + '/img/games/bg.jpg') no-repeat center
  background-size: 100% 100%
body .lt-layout-content
  height: calc(100vh - 70px);
  display: block
  @media screen and (max-width: 768px)
    height: calc(100vh - 44px);
  .ant-layout-side
    background: var(--var-card)
.lt-layout
    .custom-side 
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 1;
      width: 60vw !important;
      max-width: 60vw !important;
      min-width: 60vw !important;
      height: 100vh;
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 100 !important;
      &.hidden
        @media screen and (max-width: 768px)
          transform: translateX(100%);
          opacity: 0;
