.header_header
  .nav 
    a
      // padding: 0 20px
      &.nav_airdrop
        width: 105px
      &.nav_games
        width: 88px
      &.nav_zero_gas
        width: 107px
      &.nav_network
        width: 182px
.header_header.header_header_1670
  .nav 
    padding-left: 30px;
    a
      // padding: 0 14px
      &.nav_airdrop
        width: 95px
      &.nav_games
        width: 78px
      &.nav_zero_gas
        width: 97px
      &.nav_network
        width: 172px
  .connect_pixel_connectWallet
    gap: 14px
  .ChainSelectorWidgetWrapper
    padding: 5px 12px
  .balance_item_balance_pixel 
    padding: 0 14px
.header_header.header_header_1540
  .balance_item_balance_pixel
    font-size: 14px
  .nav 
    a
      // padding: 0 12px
      font-size: 14px
      &.nav_airdrop
        width: 85px
      &.nav_games
        width: 68px
      &.nav_zero_gas
        width: 87px
      &.nav_network
        width: 162px
  .connect_pixel_connectWallet
    gap: 8px
  .ChainSelectorWidgetWrapper
    padding: 5px 8px
    .img
      gap: 4px
      p
        font-size: 14px
  .balance_item_balance_pixel 
    padding: 0 10px
  .player_playerAvatar 
    .player_avatar_account
      font-size: 14px
  .zypher_logo
    img:nth-child(1)
      width: 120px
.header_header.header_header_1340
  .connect_pixel_connectWallet
    gap: 10px
.header_header.header_header_830
  .zypher_logo 
    img:nth-child(1)
      width 32px
  .connect_pixel_connectWallet
    gap: 5px
  .header_btn_pixel
    margin-left: 5px
  