.header_header.header_header_1670
  .nav 
    padding-left: 30px;
    a
      padding: 0 14px
  .connect_pixel_connectWallet
    gap: 14px
  .ChainSelectorWidgetWrapper
    padding: 5px 12px
  .balance_item_balance_pixel 
    padding: 0 14px
.header_header.header_header_1540
  .balance_item_balance_pixel
    font-size: 14px
  .nav 
    padding-left: 20px;
    a
      padding: 0 12px
      font-size: 14px
  .connect_pixel_connectWallet
    gap: 8px
  .ChainSelectorWidgetWrapper
    padding: 5px 8px
    .img
      gap: 4px
      p
        font-size: 14px
  .balance_item_balance_pixel 
    padding: 0 10px
  .player_playerAvatar 
    .player_avatar_account
      font-size: 14px
  .zypher_logo
    img:nth-child(1)
      width: 120px
.header_header.header_header_1290
  .connect_pixel_connectWallet
    gap: 3px
.header_header.header_header_768
  .zypher_logo 
    img:nth-child(1)
      width 32px
  .connect_pixel_connectWallet
    gap: 5px
  .header_btn_pixel
    margin-left: 5px
  