.dialog_close
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 26px;
  right: 24px;
  cursor pointer
  z-index: 9;
  @media screen and (max-width: 768px)
    top: 12px;
    right: 30px;
    scale: 0.8;
  svg
    fill: #fff;