.dialog_close
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 26px;
  right: 24px;
  cursor pointer
  z-index: 9;
  @media screen and (max-width: 830px)
    top: 15px;
    right: 15px;
    scale: 1.2;
  svg
    fill: #fff;
    size: 20px